/* Sommaire*/
/***********/

/* Responsive  */
@media screen and (max-width: 480px)
{
    nav
    {
        display: block;
        width: 100%;
    }
}


/* police

font-family: 'Press Start 2P', cursive;
font-family: 'courgette';
  font-family: 'Orbitron', sans-serif;
*/

/*********/
/*   Body */
body
{
  background: url(img/terminal.png);
  position: no-repeat;
  font-size: cover;
  background-attachment: fixed;
  
    
    
}
/************/
/*  Menu navbar */
.nav  
{
  background-color: white;
  border: 4px  ;
  border-radius: 10px 35px 10px 35px;
  font-family: ;
  font-size: 15px;
  text-align: center; 
  height: 45px;
  width: 1010px;
  margin-left: 150px;
  margin-top: 20px;
}

ul 
{
    margin-top: 0px;
    border-top-width: 10px;
   /* height: 30px;*/
    width: 930px;
    padding-top: 10px;

}

.col
{
  color: black;
  font-family:cursive;
  font-size: 20px;
}

/*********/
/* photo*/
.img
{

  width: 150px;
  margin-left: 100px;
  border: groove 4px darkgreen;
  float: left;
  margin-left: 320px;
}



/*********/
/*texte*/
p
{
  font-family:  cursive, sans-serif;
  color:black ;
}

.desc, h3, h1
{
  text-align: center;
}

.ecrit
{
  font-family:  cursive;
  text-align: center;
}


/*********/
/* Présentation*/
.me .pres
{
  font-family: 'Orbitron', sans-serif;
  border: ;
  margin-right: 10px;
  width: 250px;
  background: rgba(0, 150, 10, 0.7);
}
.me 
{
  text-align: center; 
}

.pres
{
  margin-left: 350px
}

/*********/
/*Formation*/

.form 
{
  font-family: 'Orbitron', sans-serif;
  border: solid 2px lime;
  margin-left: 350px;
  margin-right: 150px;
  margin-top: 250px;  
  

}

/*********/
/*Expérience*/
.exp 
{
  font-family: 'Orbitron', sans-serif;
  border: solid 2px yellow;
  margin-left: 350px;
  margin-right: 150px;
}


/*********/
/* Compétence*/

.comp
{
  font-family: 'Orbitron', sans-serif;
  border: solid 2px blue;
  margin-left: 350px;
  margin-right: 150px;
}

/*********/
/*Passion*/
.passion
{
  font-family: 'Orbitron', sans-serif;
  border: solid 2px green;
  margin-left: 350px;
  margin-right: 150px;
}

/*********/
/* hover pour les liens */

/*a:hover
{
  background-color: aqua;
}
*/