                                                /***********/
                                                /* body   */
                                                /*********/

body
{
  background: url(../img/terminal.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
  background-attachment: fixed;    
}








                                              /**********/
                                              /*barre de nav*/
                                              /************/

.nav  
{

  

  background-color: /*black*//rgba(0,0,0,0.8)*/;

  border: 4px  ;
  font-family: ;
  font-size: 15px;
  text-align: center; 
  height: 45px;
  width: 1010px;
  margin-left: 105px;
  margin-top: 5px;
  position: ;
}

ul 
{
    margin-top: 0px;
    border-top-width: 10px;
   /* height: 30px;*/
    width: 930px;
    padding-top: 10px;
    

}

.col
{
  color: black;
  font-family:cursive;
  font-size: 20px;
  padding: 15px;
}



                                          /*************/
                                          /* Formulaire */
                                          /**************/


                            /***********/
                            /** imput **/
                            /***********/

#contact #form span 
{
  display:block;
  width:100px;
  padding-top:5px;
  font: 14px/16px'Bree Serif', Georgia, serif;
}

#contact #form input 
{
  width:255px;
  border:0px;
  color:#F1F1F1;
  padding:10px 10px 10px 30px;
  font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
  margin-bottom:10px;
}

                            /*********/
                            /**span**/
                            /*********/


.list 
{
  margin-top: px;
  margin-left: 450px;
}

#lisname
{
  margin-top:px; 
}

                            /***********/
                            /** name **/
                            /**********/

.name
{
  margin-top: px;
  margin-left: 450px;
}

#contact #form input.name 
{
  background:#222222  
  url(http://img7.uploadhouse.com/fileuploads/17737/177370145f09fe433945815665aa214f80dbc6af.png) no-repeat 
  10px 8px;
}



                              /**********/
                              /** email **/
                              /**********/

.email
{
  margin-top: 0px;
  margin-left: 450px;
}

#contact #form input.email
{
  background:#222222 
  url(http://img6.uploadhouse.com/fileuploads/17737/177370138cc63992182149e9befabff3eafa6d23.png) no-repeat   
  10px 9px;
}



                            /*************/
                            /** message **/
                            /*************/


.message
{
  margin-top: 0px;
  margin-left: 450px;
}


#contact #form textarea.message
{
  background:#222222 
  url(http://img3.uploadhouse.com/fileuploads/17737/1773701229ed8c2f465a8274623ca8976adaf196.png) no-repeat 
  10px 8px;
}


#contact #form textarea
{
  
  border:0px;
  width:255px;
  height:140px;
  padding:10px 10px 10px 30px;
  font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
  color:#F1F1F1;
  resize: none;
}


                              /************/
                              /** submit **/
                              /************/


#contact #form input.submit 
{
 /*cursor: pointer;*/
  width:85px;
  height:30px;
  padding:0px 0px 5px 0px;
  margin:10px 16px 0px 0px;
  background:#222222;
  color:#F1F1F1;
  font: 14px/16px'Bree Serif', Georgia, serif;
  margin-left: 450px;
}

                            /*************/
                            /* contact me */
                            /*************/

/*.bord
{
  border: 3px solid black;
  margin-right: 950px;
}
 
*/
                                    /*************/
                                    /*   footer */
                                    /************/
#footer
{
  background-color: rgba(0, 0, 0, 0.35);
  margin-right:px;
  margin-left: px;
}


.linke
{
  height: 30px;
  margin-left:550px;
  margin-top: 5px;
}


.minitext
{
  color: black;
  text-align: center;
  
}


.github
{
  margin-left: 25px;
}
  
  
  
  
