/* Sommaire*/
/***********/

/* Responsive  */
@media screen and (max-width: 480px)
{
   /* nav
    {
        display: block;
        width: 100%;
    }*/
}


/* police

font-family: 'Press Start 2P', cursive;
font-family: 'courgette';
  font-family: 'Orbitron', sans-serif;
*/

																																			/*********/
																																			/*   Body */
																																			/**********/

body
{
  background: url(../img/terminal.png);
  background-repeat:  no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
    
    
}

																																		/************/
																																		/*  Menu navbar */
																																		/***************/

.nav  
{

  

  background-color: /*black*//rgba(0,0,0,0.8)*/;

  border: 4px  ;
  font-family: ;
  font-size: 15px;
  text-align: center; 
  height: 45px;
  width: 1010px;
  margin-left: 150px;
  margin-top: 5px;
  position: ;
}

ul 
{
    margin-top: 0px;
    border-top-width: 10px;
   /* height: 30px;*/
    width: 930px;
    padding-top: 10px;

}

.col
{
  color: black;
  font-family:cursive;
  font-size: 20px;
}

																																	/*********/
																																	/* photo*/
																																	/*******/


.img
{

  width: 150px;
  margin-left: 100px;
  border: groove 4px darkgreen;
  float: left;
  margin-left: 320px;

  color: rgb(153,255,0); 
	font-size: 20px;
	

}



																																/*********/
																																/*texte*/
																																/*******/

p
{
  font-family:  cursive, sans-serif;
  color: white ;
}

.desc, h3, h1
{
  text-align: center;
}

.ecrit
{
  font-family:  cursive;
  text-align: center;
}

.form1 
{
  font-family: fantasy;
}


																															/*********/
																															/* Présentation*/
																															/**************/

.me .pres
{
  font-family: 'Orbitron', sans-serif;
  border: ;
  margin-top: 30Px;
  margin-right: 10px;
  width: 220px;
  background: rgba(0, 150, 10, 0.7);
}
.me 
{
  text-align: center; 
  
}

.pres
{
  margin-left: 350px
}

																														/*********/
																														/* photo*/
																														/*********/


.img
{

  width: 150px;
  margin-left: 100px;
  border: groove 4px rgb(195,195,195) /*darkgreen*/;
  float: left;
  margin-left: 320px;
}


																															/*********/
																															/*Formation*/
																															/***********/

.form 
{
  font-family: 'Orbitron', sans-serif;
  border: solid 2px rgb(195,195,195);
  margin-left: 350px;
  margin-right: 150px;
  margin-top: 250px;  
}



																														/*********/
																														/*Expérience*/
																														/************/
.exp 
{
  font-family: 'Orbitron', sans-serif;
  border: solid 2px rgb(195,195,195) /*yellow*/;
  margin-left: 350px;
  margin-right: 150px;
}

.cent
{
  text-align: center;
}


																														/*********/
																														/* Compétence*/
																														/*************/

.comp
{
  font-family: 'Orbitron', sans-serif;
  border: solid 2px  rgb(195,195,195) /*blue*/;
  margin-left: 350px;
  margin-right: 150px;
}

																															/*********/
																															/*Passion*/
																															/*********/
.passion
{
  font-family: 'Orbitron', sans-serif;
  border: solid 2px rgb(195,195,195) /*green*/;
  margin-left: 350px;
  margin-right: 150px;
 }
 
.folio
{
  
    margin-top: 50px;

}

																													/******************/
																													/*   Portfolio   */
																													/****************/

.site
{
	
}


/*********/
/* hover pour les liens */

/*a:hover
{
  background-color: chartreuse;
}*/

a:visited
{
  color: white;
}